/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 19, 2015, 12:11:37 PM
    Author     : Osvaldo Maria
*/


.topo{
    position: absolute;
    top: 30px;
    
}

#rcorners {
    border-radius: 25px;
    border: 1px solid #F5F5F5;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0px;
    
}
#rcorners:hover {
    border: 1px solid #66afe9;
    
}



#rcorners>form>div>div>input {
   // border-radius: 25px;
     border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
    outline:none;
    margin-top: 15px;
    background: white;
   
    width: 100%;
    
}
#rcorners>form>div>div>button {
   // border-radius: 25px;
     border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
    outline:none;
    margin-top: 15px;
    background: white;
    padding:0px;
    width: 100%;
    
}
#rcorners>form>div>div{
    
}

.form-group{
    width: 100%;
}

#barraBusca{
    padding: 20px;
}